body {
    font-family: 'Montserrat', sans-serif;
}

.altura {
    height: 100px;
}

.custom-shadow {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Defina a altura desejada em pixels */
}

.font-bold {
    font-weight: 700;
}

.nav-item {
    font-weight: 400;
}

.menu-text {
    margin-top: 12px;
}

.bi-chat-text-fill,
i {

    position: relative;
    bottom: 1px;
}

.menu{
    position: relative;
    bottom:2px
}